@tailwind base;
@tailwind components;
@tailwind utilities;

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
li{
    display: flex;
    flex-direction: column;
    border: solid 1px lightgrey;
    width: 250px;
}
li span{
    border: solid 1px lightgrey;
}
h2, p{
    margin: 0;
    padding: 0;
}
li *{
    padding: 10px 20px;
}


img{
    max-height: 200px;
    max-width: fit-content;
    padding: 0;
}
